

.rotate {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 100px;
  background-color: pink;
  position: relative;
  animation: spin;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
  
  
  
  
}

@keyframes rotate{
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}